---
import Header from "../components/Header.astro";
import About from "../components/About.astro";
import Servicies from "../components/Servicies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main>
    <Header />
    <About />
    <Servicies />
  </main>
</Layout>
