---

---

<div class="flex justify-between items-center my-10 py-10 mx-20 px-8">

  <img src="././hi.svg" class="mx-auto  w-80 h-80 " alt="hi-about"/>
    <div class=" text-center flex flex-col px-24 mx-10 ">
      <h1 class="text-center text-4xl font-bold mb-8">About</h1>
      <p class="text-xl ">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, est pariatur magnam distinctio, incidunt molestias accusantium saepe dolore porro quo exercitationem repudiandae dolorem asperiores magni suscipit a provident molestiae non.
      </p>
    </div>
  <div>
  </div>
</div>
