<div id="about" class="flex items-center justify-center w-full mx-auto text-gray-950">
  <div class="lg:flex justify-between items-center my-10 py-10 mx-4 md:mx-auto px-8">
    <div class="flex justify-center mx-auto">
      <img src="././hi.svg" class="w-80 h-80" alt="hi-about" />
    </div>
    <div class="lg:w-1/2 mx-auto">
      <h1 class="text-center text-4xl font-bold mb-8">About Me</h1>
      <p class="text-xl text-center">
        Hi there! I'm a freelance developer and UX/UI designer on a mission to craft digital experiences that captivate and inspire. 
        With a passion for technology and a keen eye for design, I specialize in creating user-friendly, visually stunning solutions. 
        My goal is to bring your ideas to life and make them shine in the digital world. Let's work together to turn your vision into reality!
      </p>
    </div>
  </div>
</div>
