<div class="flex items-center justify-center w-full mx-auto text-gray-950">
  <div class="lg:flex justify-between items-center my-10 py-10 mx-4 md:mx-auto px-8">
    <div class=" flex justify-center mx-auto">
      <img src="././hi.svg" class=" w-80 h-80" alt="hi-about" />
    </div>
    <div class="lg:w-1/2 mx-auto">
      <h1 class="text-center text-4xl font-bold mb-8">About</h1>
      <p class="text-xl text-center">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quis, est pariatur magnam distinctio, incidunt molestias accusantium saepe dolore porro quo exercitationem repudiandae dolorem asperiores magni suscipit a provident molestiae non.
      </p>
    </div>
  </div>
</div>