---
import ContactForm from "./ContactForm.astro";
---

<div id="contact" class="isolate bg-white mt-20 px-6 pb-10 lg:px-8">
  <div class="top-0 h-36 w-32 ml-4">
    <img
      src="././shape.svg"
      alt="Imagen de contacto"
      class="h-40 w-40 absolute left-0"
    />
  </div>
  <div class="mx-auto max-w-2xl text-center">
    <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      Connet with me!
    </h2>
    <p class="mt-2 text-lg leading-8 text-gray-600">
      Feel free to reach out to me with any questions or inquiries. I'm here to
      help you!
    </p>
  </div>

  <ContactForm />

  <div class="top-0 h-32 w-32 m-4">
    <img
      src="././shape-right.svg"
      alt="Imagen de contacto"
      class="h-40 w-40 absolute right-0"
    />
  </div>
</div>
