---

---

<div class="flex items-center justify-center flex-col">
  <img src="././pattern.svg" alt="" class="w-full h-auto" />

  <div
    class="absolute inset-0 flex flex-col items-center justify-center text-start font-mono py-14"
  >
    <h1 class="text-6xl font-bold my-3">Cecilia Martinez</h1>
    <h2 class="text-4xl font-bold my-2">Web Developer</h2>
    <button
      class="bg-yellow-400 py-5 px-10 rounded-full text-xl font-mono font-bold text-gray-950 my-10"
      >Contacto</button
    >
  </div>
  <img src="././forms.svg" alt="" class="w-80 h-80 absolute bottom-7 right-0" />
</div>
