<div class="navbar fixed top-0 left-0 flex justify-center mb-0 bg-white shadow text-gray-900 z-10">
  <div class="navbar-start w-auto -0">
    <div class="dropdown ">
      <label tabindex="0" class="btn btn-ghost btn-circle ml-auto">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h7" /></svg>
      </label>
      <ul tabindex="0" class="menu menu-sm bg-white dropdown-content mt-3 z-[1] p-2 shadow rounded-box w-52">
        <li><a href="#about">About</a></li>
        <li><a href="#services">Services</a></li>
        <li><a href="#projects">Projects</a></li>
        <li><a href="#contact">Contact</a></li>
      </ul>
    </div>
  </div>
  <div class="navbar-center flex justify-center flex-grow">
    <a href="/" class="btn btn-ghost normal-case text-xl text-center">Ceci Dev 🌙</a>
  </div>
</div>
