<div
  id="projects"
  class="container-project flex-col mt-48 bg-white py-10 items-center flex w-full px-0"
>
  <div class="mx-auto max-w-2xl text-center w-full mb-7">
    <h2 class="text-2xl font-bold tracking-tight text-gray-900 sm:text-4xl">
      Projects
    </h2>
    <p class="mt-2 text-lg leading-8 text-gray-600">
      Aute magna irure deserunt veniam aliqua magna enim voluptate.
    </p>
  </div>

  <!-- carrousel-card -->
  <div
    class="carrousel-card-container w-full py-10 my-10 mx-10 grid grid-flow-col gap-7 overflow-x-auto overscroll-x-contain"
  >
    <div
      class="card-carrousel flex-col w-60 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
    >
      <figure class="py-3 flex justify-center items-center">
        <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
      </figure>
      <div
        class="bg-white rounded-lg w-full shadow flex justify-center items-center px-7 py-5 flex-col h-full text-gray-900"
      >
        <h2 class="text-sm text-gray-700 text-center font-medium">
          Project Name
        </h2>
      </div>
    </div>

    <div
      class="card-carrousel flex-col w-60 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
    >
      <figure class="py-3 flex justify-center items-center">
        <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
      </figure>
      <div
        class="bg-white rounded-lg shadow flex justify-center items-center px-7 py-5 flex-col h-full text-gray-900"
      >
        <h2 class="text-sm text-gray-700 text-center font-medium">
          Project Name
        </h2>
      </div>
    </div>

    <div
      class="card-carrousel flex-col w-60 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
    >
      <figure class="py-3 flex justify-center items-center">
        <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
      </figure>
      <div
        class="bg-white rounded-lg shadow flex justify-center items-center px-7 py-5 flex-col h-full text-gray-900"
      >
        <h2 class="text-sm text-gray-700 text-center font-medium">
          Project Name
        </h2>
      </div>
    </div>

    <div
      class="card-carrousel flex-col w-60 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
    >
      <figure class="py-3 flex justify-center items-center">
        <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
      </figure>
      <div
        class="bg-white rounded-lg shadow flex justify-center items-center px-7 py-5 flex-col h-full text-gray-900"
      >
        <h2 class="text-sm text-gray-700 text-center font-medium">
          Project Name
        </h2>
      </div>
    </div>

    <div
      class="card-carrousel flex-col w-60 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
    >
      <figure class="py-3 flex justify-center items-center">
        <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
      </figure>
      <div
        class="bg-white rounded-lg shadow flex justify-center items-center px-7 py-5 flex-col h-full text-gray-900"
      >
        <h2 class="text-sm text-gray-700 text-center font-medium">
          Project Name
        </h2>
      </div>
    </div>

    <div
      class="card-carrousel flex-col w-60 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
    >
      <figure class="py-3 flex justify-center items-center">
        <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
      </figure>
      <div
        class="bg-white rounded-lg shadow flex justify-center items-center px-7 py-5 flex-col h-full text-gray-900"
      >
        <h2 class="text-sm text-gray-700 text-center font-medium">
          Project Name
        </h2>
      </div>
    </div>
  </div>
</div>

<style>
  .carrousel-card-container {
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .carrousel-card-container::-webkit-scrollbar {
    display: none;
  }

  .card-carrousel {
    scroll-snap-align: start;
  }
</style>
