<div id="projects" class="container w-full bg-white mx-2 my-8 py-3">
  <div
    class="carrousel grid grid-flow-col scroll-auto gap-5 overflow-x-auto overscroll-x-contain"
  >
    <div
      class="card-carrousel flex-col w-96 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
    >
      <figure class="py-3 flex justify-center items-center">
        <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
      </figure>
      <div
        class="pt-2 bg-[#ececec66] flex justify-start items-start px-7 py-5 flex-col h-full text-gray-900"
      >
        <h2 class="text-lg font-semibold mt-1">Project Name</h2>
        <p class="text-base font-normal my-1">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <div
      class="card-carrousel flex-col w-96 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
    >
      <figure class="py-3 flex justify-center items-center">
        <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
      </figure>
      <div
        class="pt-2 bg-[#ececec66] flex justify-start items-start px-7 py-5 flex-col h-full text-gray-900"
      >
        <h2 class="text-lg font-semibold">Project Name</h2>
        <p class="text-base font-normal my-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <div
      class="card-carrousel flex-col w-96 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
    >
      <figure class="py-3 flex justify-center items-center">
        <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
      </figure>
      <div
        class="pt-2 bg-[#ececec66] flex justify-start items-start px-7 py-5 flex-col h-full text-gray-900"
      >
        <h2 class="text-lg font-semibold">Project Name</h2>
        <p class="text-base font-normal my-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <div
      class="card-carrousel flex-col w-96 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
    >
      <figure class="py-3 flex justify-center items-center">
        <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
      </figure>
      <div
        class="pt-2 bg-[#ececec66] flex justify-start items-start px-7 py-5 flex-col h-full text-gray-900"
      >
        <h2 class="text-lg font-semibold">Project Name</h2>
        <p class="text-base font-normal my-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <div
      class="card-carrousel flex-col w-96 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
    >
      <figure class="py-3 flex justify-center items-center">
        <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
      </figure>
      <div
        class="pt-2 bg-[#ececec66] flex justify-start items-start px-7 py-5 flex-col h-full text-gray-900"
      >
        <h2 class="text-lg font-semibold">Project Name</h2>
        <p class="text-base font-normal my-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>

    <div
      class="card-carrousel flex-col w-96 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
    >
      <figure class="py-3 flex justify-center items-center">
        <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
      </figure>
      <div
        class="pt-2 bg-[#ececec66] flex justify-start items-start px-7 py-5 flex-col h-full text-gray-900"
      >
        <h2 class="text-lg font-semibold">Project Name</h2>
        <p class="text-base font-normal my-3">
          Lorem ipsum dolor sit amet consectetur adipisicing elit.
        </p>
      </div>
    </div>
  </div>
</div>

<style>
  .carrousel {
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .carrousel::-webkit-scrollbar {
    display: none;
  }

  .card-carrousel {
    scroll-snap-align: start;
  }
</style>
