<div  id="projects" class=" flex justify-center items-center ">
  <div class="container w-full bg-white mx-10 my-8 py-3 px-6">
    <div
      class="carrousel  grid grid-flow-col scroll-auto gap-5 overflow-x-auto overscroll-x-contain"
    >
      <div
        class="card-carrousel flex-col w-60 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
      >
        <figure class="py-3 flex justify-center items-center">
          <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
        </figure>
        <div
          class=" bg-white rounded-lg w-full shadow flex justify-center  items-center px-7 py-5 flex-col h-full text-gray-900"
        >
          <h2 class="text-sm text-gray-700 text-center font-medium ">Project Name</h2>
        </div>
      </div>
  
      <div
        class="card-carrousel flex-col w-60 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
      >
        <figure class="py-3 flex justify-center items-center">
          <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
        </figure>
        <div
          class=" bg-white rounded-lg shadow flex justify-center  items-center px-7 py-5 flex-col h-full text-gray-900"
        >
          <h2 class="text-sm text-gray-700 text-center font-medium">Project Name</h2>
        </div>
      </div>
  
      <div
        class="card-carrousel flex-col w-60 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
      >
        <figure class="py-3 flex justify-center items-center">
          <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
        </figure>
        <div
          class=" bg-white rounded-lg shadow flex justify-center  items-center px-7 py-5 flex-col h-full text-gray-900"
        >
          <h2 class="text-sm text-gray-700 text-center font-medium">Project Name</h2>
        </div>
      </div>
  
      <div
        class="card-carrousel flex-col w-60 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
      >
        <figure class="py-3 flex justify-center items-center">
          <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
        </figure>
        <div
          class=" bg-white rounded-lg shadow flex justify-center  items-center px-7 py-5 flex-col h-full text-gray-900"
        >
          <h2 class="text-sm text-gray-700 text-center font-medium">Project Name</h2>
        </div>
      </div>
  
      <div
        class="card-carrousel flex-col w-60 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
      >
        <figure class="py-3 flex justify-center items-center">
          <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
        </figure>
        <div
          class=" bg-white rounded-lg shadow flex justify-center  items-center px-7 py-5 flex-col h-full text-gray-900"
        >
          <h2 class="text-sm text-gray-700 text-center font-medium">Project Name</h2>
        </div>
      </div>
  
      <div
        class="card-carrousel flex-col w-60 rounded-lg flex shadow-lg mx-2 my-5 bg-white"
      >
        <figure class="py-3 flex justify-center items-center">
          <img src="././icon.svg" alt="Shoes" class="w-full h-40" />
        </figure>
        <div
          class=" bg-white rounded-lg shadow flex justify-center  items-center px-7 py-5 flex-col h-full text-gray-900"
        >
          <h2 class="text-sm text-gray-700 text-center font-medium">Project Name</h2>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .carrousel {
    scroll-snap-type: x mandatory;
    scrollbar-width: none;
  }

  .carrousel::-webkit-scrollbar {
    display: none;
  }

  .card-carrousel {
    scroll-snap-align: start;
  }
</style>
