<div class="carousel rounded-box bg-white">
  <div class="carousel-item bg-white">
    <img src="././icon.svg" alt="Burger" class="h-80 w-80" />
  </div>
  <div class="carousel-item bg-white">
    <img src="././icon.svg" alt="Burger" class="h-80 w-80" />
  </div>
  <div class="carousel-item bg-white">
    <img src="././icon.svg" alt="Burger" class="h-80 w-80" />
  </div>
  <div class="carousel-item bg-white">
    <img src="././icon.svg" alt="Burger" class="h-80 w-80" />
  </div>
  <div class="carousel-item bg-white">
    <img src="././icon.svg" alt="Burger" class="h-80 w-80" />
  </div>
  <div class="carousel-item bg-white">
    <img src="././icon.svg" alt="Burger" class="h-80 w-80" />
  </div>
</div>
