<div id="services" class="py-10 mt-20">
  <h1 class="text-center text-4xl font-bold mb-8 text-gray-800">Services</h1>

  <div
    class="flex-wrap items-center justify-center gap-8 text-center sm:flex mx-3"
  >
    <div
      class="w-full px-4 py-4 mt-6 bg-white rounded-lg shadow-lg sm:w-1/2 md:w-1/2 lg:w-1/4"
    >
      <div class="flex-shrink-0">
        <div
          class="flex items-center justify-center w-12 h-12 mx-auto text-white bg-yellow-400 rounded-md"
        >
          <img
            src="././pencil.svg"
            alt="Web Development Icon"
            width="30"
            height="30"
          />
        </div>
      </div>
      <div>
        <p class="pt-2 text-2xl font-semibold text-gray-700 sm:text-xl">
          UX/UI Design
        </p>
        <p class="py-4 text-gray-500 text-md">
          Enhance your online presence with intuitive and visually appealing
          interfaces that captivate and engage your audience.
        </p>
      </div>
    </div>
    <div
      class="w-full px-4 py-4 mt-6 bg-white rounded-lg shadow-lg sm:w-1/2 md:w-1/2 lg:w-1/4 sm:mt-16 md:mt-20 lg:mt-24"
    >
      <div class="flex-shrink-0">
        <div
          class="flex items-center justify-center w-12 h-12 mx-auto text-white bg-yellow-400 rounded-md"
        >
          <img
            src="././pencil.svg"
            alt="Web Development Icon"
            width="30"
            height="30"
          />
        </div>
      </div>
      <div>
        <p class="pt-2 text-2xl font-semibold text-gray-700 sm:text-xl">
          Web Development
        </p>
        <p class="py-4 text-gray-500 text-md">
          Transform your vision into reality with engaging web solutions that
          connect you with your audience and drive results.
        </p>
      </div>
    </div>

    <div
      class="w-full px-4 py-4 mt-6 bg-white rounded-lg shadow-lg sm:w-1/2 md:w-1/2 lg:w-1/4"
    >
      <div class="flex-shrink-0">
        <div
          class="flex items-center justify-center w-12 h-12 mx-auto text-white bg-yellow-400 rounded-md"
        >
          <img
            src="././pencil.svg"
            alt="Web Development Icon"
            width="30"
            height="30"
          />
        </div>
      </div>
      <div>
        <p class="pt-2 text-2xl font-semibold text-gray-700 sm:text-xl">
          Website Design
        </p>
        <p class="py-4 text-gray-500 text-md">
          Elevate your online presence with stunning, user-centric website
          designs that captivate your audience and boost your brand.
        </p>
      </div>
    </div>
  </div>
</div>
